.main_content {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}

.select {
  margin-bottom: 2.5rem;
  width: 700px;
}
.box {
  flex: 1;
}

.left_bar {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex: 3;
}

.left_ {
  display: flex;
  gap: 1.5rem;
}

.chart_section {
  display: flex;
  justify-content: space-between;
  gap: 1.625rem;
}

.email_list_title {
  margin-bottom: 1rem;
  color: #101828;

  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 43px;
}

.l_chart {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex:1.15;
}

.r_chart {
  flex: 3;
}
.r_chart img {
  width: 37.5rem;
}

.email_list {
  overflow: scroll;
  height: 30rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
