.main_side {
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
}

.side_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.message,
.notif {
  position: relative;
}

.message_sign {
  position: absolute;
  top: 2px;
  right: -2px;
  width: 0.75rem;
  height: 0.5rem;
  background-color: white;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notif_sign {
  font-size: 8px;
  color: #f04438;
  font-weight: 900;
  position: absolute;
  top: 6px;
  right: 12px;
}

.formation {
  margin-top: 1rem;
}

.todo {
  margin-top: 1rem;
}

.modal_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.add_ {
  color: #6941c6;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

.title_input {
  width: 100%;
}

.select {
  width: 100%;
}

.rightFooter {
  padding: 1rem;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.title {
  color: #101828;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.date {
  color: #98a2b3;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.desc {
  color: #98a2b3;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
